{% extends 'profile/profile.html.twig' %}

{% block container %}
    <div class="content">
        <div class="page-title">
            <h1>Edit Profile</h1>
        </div><!-- /.page-title -->

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-icon alert-dismissible alert-{{ label }}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        <form action="{{ path('profile.password.update') }}" method="post">
            <div class="background-white p20 mb30">
                <h3 class="page-title">
                    Password
                    <button type="submit" id="changePassword" class="btn btn-primary btn-xs pull-right" disabled>Change</button>
                </h3>

                <div class="row">
                    <div class="form-group col-sm-12">
                        <label>Current password * </label>
                        <input type="password" id="current" name="current" class="form-control" value="">
                    </div><!-- /.form-group -->
                    <div class="form-group col-sm-12">
                        <label>New password * </label>
                        <input type="password" id="new" name="new" class="form-control" value="">
                        <div></div>
                    </div><!-- /.form-group -->

                    <div class="form-group col-sm-12">
                        <label>Confirm new password *</label>
                        <input type="password" id="confirm" name="confirm" class="form-control" value="">
                        <div></div>
                    </div><!-- /.form-group -->

                </div><!-- /.row -->
            </div>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/Password.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/profil.js') }}"></script>
{% endblock %}