{% extends 'admin/admin.html.twig' %}

{% block title %}Administration - Newsletters{% endblock %}

{% block bandeau %}
    <h2>Newsletters</h2>
    <p class="margBot"><i>Liste des utilisateurs inscrits à la newsletter</i></p>
    <a href="{{ path('admin.newsletters') }}" class="alert-success whiteText p-3"><i class="fa fa-arrow-left"></i> Liste des newsletters</a>
{% endblock %}

{% block content %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-icon alert-dismissible alert-{{ label }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="example-wrapper">
        <table class="table table-striped" id="sortTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Firstname</th>
                <th>Username</th>
                <th width="10%">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for surfer in surfers %}
                <tr>
                    <td><strong>{{ surfer.id }}</strong></td>
                    {% if surfer.firstname is not null %}
                        <td>{{ surfer.firstname }}</td>
                    {% else %}
                        <td> - </td>
                    {% endif %}
                    <td>{{ surfer.username }}</td>
                    <td width="10%">
                        <form action="{{ path("admin.surfer.newsletter", {"id":surfer.id}) }}" method="post" class="noStyle" style="display: inline-block;width: 5%">
                            <input type="hidden" name="_method" value="POST">
                            <input type="hidden" name="_token" value="{{ csrf_token('newsletter' ~ surfer.id) }}">
                            <button type="submit" class="btn noStyle"><i class="fa fa-unlink text-primary"></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}