{{ form_start(form) }}
<div class="form-group">
    <div class="row mb-4">
        <label for="lastname" class="col-md-4">Nom</label>
        {{ form_widget(form.lastname, { 'attr': {'class' : 'form-control col-md-8', 'readonly' : 'readonly'}}) }}
    </div>
    <div class="row mb-4">
        <label for="firstname" class="col-md-4">Prénom</label>
        {{ form_widget(form.firstname, { 'attr': {'class' : 'form-control col-md-8', 'readonly' : 'readonly'}}) }}
    </div>
    <div class="row mb-4">
        <label for="basicEmail" class="col-md-4">Email</label>
        {{ form_widget(form.basicEmail, { 'attr': {'class' : 'form-control col-md-8', 'readonly' : 'readonly'}}) }}
    </div>
    <div class="row mb-4">
        <p class="col-md-4 deepGrey">Adresse complète</p>
    </div>
    <div class="row mb-4">
        <label for="addressStreet" class="col-md-4">Rue</label>
        {{ form_widget(form.addressStreet, { 'attr': {'class' : 'form-control col-md-8'}}) }}
    </div>
    <div class="row mb-4">
        <label for="addressNum" class="col-md-4">Numéro</label>
        {{ form_widget(form.addressNum, { 'attr': {'class' : 'form-control col-md-8'}}) }}
    </div>
    <div class="row mb-4">
        <label for="city" class="col-md-4">Ville</label>
        {{ form_widget(form.city, { 'attr': {'class' : 'form-control col-md-8'}}) }}
    </div>
    <div class="row mb-4">
        <label for="locality" class="col-md-4">Localité</label>
        {{ form_widget(form.locality, { 'attr': {'class' : 'form-control col-md-8'}}) }}
    </div>
    <div class="row mb-4">
        <label for="zipCode" class="col-md-4">Code postal</label>
        {{ form_widget(form.zipCode, { 'attr': {'class' : 'form-control col-md-8'}}) }}
    </div>
    <div class="row mb-4">
        <div class="col-md-4"><span class="warning">Password must :</span></div>
        <div class="col-md-8 warningMsg alignLeft" id="regexPassword">
            <span>At least contains 1 lowercase, 1 uppercase, 1 number. And the length must be upper 8.</span>
        </div>
        <label for="password" class="col-md-4">Mot de passe
            <div id="passwordPower"></div>
        </label>
        {{ form_widget(form.password, { 'attr': {'class' : 'form-control col-md-8'}}) }}
    </div>
    <div class="row mb-4">
        <label for="passwordConf" class="col-md-4">Confirmation mot de passe
            <div id="passwordMatch"></div>
        </label>
        <input type="password" id="passwordConf" class="form-control col-md-8" value="">
    </div>
    {#<input type="hidden" name="_token" value="{{ csrf_token('create' ~ user.id) }}">#}
    {{ form_widget(form.submit, { 'attr' : { 'class' : 'btn btn-primary mt-4 SaveUser', 'disabled' : 'disabled'}}) }}
</div>
{{ form_end(form) }}