{% extends 'base.html.twig' %}

{% block title %}Admin - Home{% endblock %}

{% block body %}

    <div class="admin">

        <div class="page-wrapper">

            <!-- Header -->
            {% include 'admin/_partials/header.html.twig' %}
            <!-- END - Header -->

            <div class="main">
                <div class="outer-admin">
                    <div class="wrapper-admin">
                        <!-- Sidebar -->
                        {% include 'admin/_partials/sidebar.html.twig' with {'controller' : controller} %}
                        <!-- END - Sidebar -->
                        <div class="content-admin">
                            {% block container %}
                                <div class="content-admin-wrapper">
                                    <div class="content-admin-main">
                                        <div class="content-admin-main-inner">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <!-- BANDEAU -->
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="p30 background-white mb50">
                                                                    <div class="row">
                                                                        <div class="col-sm-12 col-lg-6 p-2">
                                                                            {% block bandeau %}
                                                                                <h1>Bienvenue</h1>
                                                                                <p>Administration</p>
                                                                            {% endblock %}
                                                                        </div>
                                                                    </div>
                                                                </div><!-- /.message -->
                                                            </div><!-- /.col-* -->
                                                        </div><!-- /.row -->
                                                        <!-- END - BANDEAU -->
                                                        {% block content %}
                                                            <div class="row">
                                                                <div class="col-sm-12 col-lg-6 mt-4">
                                                                    <h3>Catégories de services</h3>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <!-- START LOOP -->
                                                                {% set cpt = 0 %}
                                                                {% for service in services %}
                                                                    {% if cpt is not odd %}
                                                                        <div class="col-sm-12 col-lg-6">
                                                                        <div class="row">
                                                                    {% endif %}
                                                                    <!-- SERVICE INFOS -->
                                                                    <div class="col-sm-6">
                                                                        <div class="statusbox">
                                                                            <h2>{{ service.name }}</h2>
                                                                            <div class="statusbox-content">
                                                                                <small class="adminSmall">{% if service.provider|length > 1 %} {{ service.provider|length ~ ' prestataires' }} {% else %} {{ service.provider|length ~ ' prestataire' }} {% endif %}</small>
                                                                                <span>Modifiée {{ service.updatedAt|date("d/m/Y") }}</span>
                                                                            </div>

                                                                            <div class="statusbox-actions">
                                                                                <a href="{{ path('admin.service.update',{'id':service.id}) }}"><i
                                                                                            class="fa fa-pencil"></i></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- END SERVICE INFOS -->
                                                                    {% if cpt is odd %}
                                                                        </div><!-- /.row -->
                                                                        </div><!-- /.col-* -->
                                                                    {% endif %}
                                                                    {% set cpt = cpt + 1 %}
                                                                {% endfor %}
                                                                <!-- END LOOP -->
                                                            </div><!-- /.row -->
                                                        {% endblock %}
                                                    </div>
                                                </div>
                                            </div><!-- /.container-fluid -->
                                        </div><!-- /.content-admin-main-inner -->
                                    </div><!-- /.content-admin-main -->

                                    {% include 'admin/_partials/footer.html.twig' %}
                                </div><!-- /.content-admin-wrapper -->
                            {% endblock %}
                        </div><!-- /.content-admin -->
                    </div><!-- /.wrapper-admin -->
                </div><!-- /.outer-admin -->
            </div><!-- /.main -->
        </div><!-- /.page-wrapper -->
    </div>
{% endblock %}
{% block javascripts %}
    <link href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.2/select2.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.js"></script>
    <script type="application/javascript" src="{{ asset('assets/js/Confirm.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/js/sortTable.js') }}"></script>
{% endblock %}
