{% extends 'admin/admin.html.twig' %}

{% block content %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-icon alert-dismissible alert-{{ label }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="background-white p20 mb50">
        <h2 class="page-title">{{ action }} commentaires</h2>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="row" style="background-color: #F0F0F0;padding:1em;margin:1em;">
            <div class="form-group col-md-4">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, { 'attr': {'class' : 'form-control'}}) }}
            </div>
            <div class="form-group col-md-4">
                {{ form_label(form.content) }}
                {{ form_widget(form.content, { 'attr': {'class' : 'form-control'}}) }}
            </div>
            <div class="form-group col-md-4">
                {{ form_label(form.rate) }}
                {{ form_widget(form.rate, { 'attr': {'class' : 'form-control'}}) }}
            </div>
            <div class="form-group col-md-4">
                {{ form_label(form.provider) }}
                {{ form_widget(form.provider, { 'attr': {'class' : 'form-control'}}) }}
            </div>
            <div class="form-group col-md-4">
                {{ form_label(form.surfer) }}
                {{ form_widget(form.surfer, { 'attr': {'class' : 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group col-md-4">
            {{ form_widget(form.submit, { 'attr': {'class' : 'form-control btn btn-primary'}}) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}