{% extends 'admin/admin.html.twig' %}

{% block title %}Administration - Commentaires{% endblock %}

{% block bandeau %}
    <h2>Commentaires</h2>
    <p class="margBot"><i>Administrer l'ensemble des commentaires. Créer, éditer et supprimer les commentaires.</i></p>
{% endblock %}

{% block content %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-icon alert-dismissible alert-{{ label }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="example-wrapper">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Created at</th>
                <th width="10%">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td><strong>{{ comment.id }}</strong></td>
                    {% if comment.title is not null %}
                        <td>{{ comment.title }}</td>
                    {% else %}
                        <td> -</td>
                    {% endif %}
                    <td>{{ comment.createdAt|date("d/m/Y") }}</td>
                    <td width="10%">
                        <a href="{{ path("admin.comment.update", {"id":comment.id}) }}"  class="mr-2"><i class="fa fa-pencil text-warning"></i></a>
                        <form action="{{ path("admin.comment.delete", {"id":comment.id}) }}" id="{{ comment.id }}" method="post" class="noStyle" style="display: inline-block;width: 5%">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                            <button type="submit" data-id="{{ comment.id }}" class="btn noStyle"><i class="fa fa-trash text-danger"></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript" src="{{ asset('assets/js/Confirm.js') }}"></script>
{% endblock %}