{% extends 'admin/admin.html.twig' %}

{% block title %}Administration - Pages{% endblock %}

{% block bandeau %}
    <h2>Liste des demandes</h2>
    <p class="margBot"><i>Administrer l'ensemble des pages. Modifier les pages.</i></p>
{% endblock %}

{% block content %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-icon alert-dismissible alert-{{ label }}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="background-white p20 mb50">
        <h2 class="page-title">{{ action }} page</h2>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="row" style="background-color: #F0F0F0;padding:1em;margin:1em;">
            <h4 class="col-md-12"><b>Informations de la page</b></h4>
            <div class="form-group col-md-12">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, { 'attr': {'class' : 'form-control'}}) }}
            </div>
            <div class="form-group col-md-12">
                {{ form_label(form.content) }}
                {{ form_widget(form.content, { 'attr': {'class' : 'form-control ckeditor'}}) }}
            </div>
            <div class="form-group col-md-4">
                {{ form_widget(form.submit, { 'attr': {'class' : 'form-control btn btn-primary'}}) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}